/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 150px!important

table, th, td {
  border: 1px solid rgba(0, 0, 0, 0.75);
}

thead {
  background: rgba(255, 255, 255, 0.2) !important;
  border-bottom 2px solid rgba(0, 0, 0, 1) !important;
  color: $accentColor
}

tr {
  background: rgba(0, 0, 0, 0.3) !important;

  &:nth-child(odd) {
    background: rgba(0, 0, 0, 0.6) !important;
  }
}

.suggestions {
  background-color #1f1f1f !important;

  .focused {
    background-color rgba(255, 255, 255, 0.1) !important
  }
}

@media (max-width $mobileResponsive)
  .search-box
    .suggestions
      right 0rem !important

@media (max-width: 959px) and (min-width: 719px)
  .search-box
    .suggestions
      left: auto !important;


*::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: rgba(15, 15, 15, 1);        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border: 0px solid rgba(0, 0, 0, 0.75);
}

.v-leave {
    opacity: 1;
}
.v-leave-active {
    transition: opacity 0.5s;
}
.v-leave-to {
    opacity: 0;
}
.v-enter {
    opacity: 0;
}
.v-enter-active {
    transition: opacity 0.5s;
}
.v-enter-to {
    opacity: 1;
}