/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = rgba(255, 255, 255, 1);
$textColor = rgba(255, 255, 255, 0.8);
$borderColor = rgba(255, 255, 255, 0.2);
$codeBgColor = rgba(0, 0, 0, 0.5);
$bgColor = #1F1F1F
$altvColor = #008736