/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = rgba(255, 255, 255, 1)
$textColor = rgba(255, 255, 255, 0.8)
$borderColor = rgba(255, 255, 255, 0.2)
$codeBgColor = rgba(0, 0, 0, 0.4)
$bgColor = #121212
$altvColor = #1bbf5d
$altvCompliment = lighten(desaturate($altvColor, 70%), 20%)
$mobileResponsive = 1220px
// $mobileResponsive = 719px; // default